<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL_SHORT</title>
    <style>
        body{
            text-align: center;
        }
        h1{
            margin-top: 120px;
        }
        input{
            margin-top: 50px;
            margin-left: 50px;
            width: 400px;
            height: 40px;
        }
        button{
            font-size: 180%;
            margin-left: 30px;
        }
    </style>
</head>
<body>
    <h1>Enter url to be shortened :</h1>
    <form action="/" method="POST">
        <input type="text" name="url">
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>